.fieldCheckBox_compose
    display flex
    flex-wrap wrap
    height auto
    margin 32px 0px 32px 0px

@media (min-width 680px)
  .fieldCheckBox
    composes fieldCheckBox_compose
    flex-direction row
    max-width 920px
  
  .fieldCheckBox__inputNameBlock
    width 23%
    min-width 227px
    height 31px

  .fieldCheckBox__inputBlock
    position relative
    margin auto 0px

  .fieldCheckBox__inputDescriptionBlock
    display flex
    flex 1
    height 31px
    padding-left 11px

@media (max-width 680px)
  .fieldCheckBox
    composes fieldCheckBox_compose
    flex-direction column
    width 100%

  .fieldCheckBox__inputNameBlock
    width 280px
    height 31px
    margin 0px auto

  .fieldCheckBox__inputBlock
    position relative
    order 3
    width 265px
    height auto
    margin 0px auto

  .fieldCheckBox__inputDescriptionBlock
    display flex
    order 2
    width 280px
    min-width 200px
    height auto
    padding-left 12px
    margin 10px auto

.fieldCheckBox__inputName
  font-family Arial
  font-size 21px
  padding-left 10px
  line-height 31px

.fieldCheckBox__input
  margin 0px

.fieldCheckBox__inputError
  border 1px solid red
  height 31px
  width 100%
  font-size 16px
  font-family Arial
  padding-left 7px

.fieldCheckBox__inputDescription
  font-family Arial
  font-size 16px
  line-height 20px
  margin auto 0px

.fieldCheckBox__inputErrorDescription
  font-family Arial
  font-size 12px
  line-height 20px
  color #FF0000
  margin-right auto
