.fieldTextArea
  display flex
  flex-wrap wrap
  height auto
  margin 32px 0px 32px 0px
  flex-direction column
  max-width 920px

.fieldTextArea__inputBlock
  height 90px
  width 98.5%
  margin 0px

.fieldTextArea__inputName
  font-family Arial
  font-size 14px
  line-height 14px

.fieldTextArea__input
  border 1px solid #999999
  height 70px
  width 100%
  font-size 14px
  font-family Arial
  margin 5px 0
  resize none
