.header
  max-width 727px
  display flex
  flex-direction row
  flex-wrap wrap
  align-items flex-end
  justify-content flex-end

.header__greeting
  padding-left 10px
  font-family Arial
  font-size 30px
  font-weight bold
  line-height 34px
  max-width 630px
  margin-right auto
  color #000000

.header__buttonOnChangeStatusBlock
  margin 7px 0px 4px auto
  vertical-align bottom

.header__buttonOnChangeStatus
  border none
  background none
  height 14px
  width 89px
  border-bottom 1px dashed #0C77BB
  font-family Arial
  font-size 12px
  color #0C77BB
  cursor pointer
  padding 0px 0px 2px 0px

.header__statusBlock
  margin 0px auto 0px 23%
  max-width 479px
  min-height 46px
  background #EAEAEA
  padding 0px 12px 0px 12px

.header__statusTextBlock
  display flex
  align-items center
  font-family Arial
  font-size 14px
  padding 12px 0px
  line-height 20px

.header__statusInput
  padding 12px 0px

.header__statusTriangle
  display block
  margin 2px 0 0px 245px
  width 0
  height 0
  border-bottom 10px solid #EAEAEA
  border-left 8px solid transparent
  border-right 8px solid transparent
