.fieldText_compose
    display flex
    flex-wrap wrap
    height auto
    margin 32px 0px 32px 0px

@media (min-width: 680px)
  .fieldText
    composes fieldText_compose
    flex-direction row
    max-width 920px
  
  .fieldText__inputNameBlock
    width 23%
    min-width 227px
    height 31px

  .fieldText__inputBlock
    flex 1
    height 31px
    margin 0px

  .fieldText__inputDescriptionBlock
    display flex
    flex 1.01
    height 31px
    padding-left 18px

@media (max-width: 680px)
  .fieldText
    composes fieldText_compose
    flex-direction column
    width 100%

  .fieldText__inputNameBlock
    width 280px
    height 31px
    margin 0px auto

  .fieldText__inputBlock
    order 3
    width 280px
    height 31px
    margin 0px auto

  .fieldText__inputDescriptionBlock
    display flex
    order 2
    width 280px
    min-width 200px
    height auto
    margin: 10px auto

.fieldText__inputName
  font-family Arial
  font-size 21px
  padding-left 10px
  line-height 31px

.fieldText__input
  border 1px solid #999999
  height 31px
  width 100%
  font-size 16px
  font-family Arial
  padding 0px 0px 0px 12px
  box-sizing: border-box

.fieldText__inputError
  border 1px solid red
  height 31px
  width 100%
  font-size 16px
  font-family Arial
  padding 0px 0px 0px 12px
  box-sizing: border-box

.fieldText__inputDescription
  font-family Arial
  font-size 12px
  line-height 20px
  color #999999
  margin auto 0px

.fieldText__inputErrorDescription
  font-family Arial
  font-size 12px
  line-height 20px
  color #FF0000
  margin-right auto
